.vs/*

UnitTests/.vs/*

*.log

*.tlog

*.obj

*.user
!UnitTests/Win/*.user

Contrib/CxImage/CxImage/x64/Debug/cximage\.pdb

*.lib

!Contrib/glfw/Debug/*.lib
!Contrib/glfw/Release/*.lib

*.idb

*.pdb
!Contrib/glfw/Debug/*.pdb
!Contrib/glfw/Release/*.pdb

Tools/UnitTests/TestData/WrittenChunk\.bin

*.ilk

Tools/UnitTests/TestData/WrittenScript\.txt

Tools/UnitTests/TestData/WrittenTestDXT1\.tac

*.exe

Tools/UnitTests/TestData/WrittenWiredDrives\.tga

Tools/UnitTests/TestData/WrittenXeyes\.tga

*.suo

*.db

*.db-shm

*.db-wal

*.exp

Contrib/NvidiaTextureTools/project/vs/nvtt/x64/Debug/nvtt\.res

*.ipch

*.opendb

Contrib/NvidiaTextureTools/project/vs/nvtt/x64/Release/nvtt\.res

Tools/TextureViewer/imgui\.ini

*.aps

Tools/TextureViewer/Debug/TextureViewer\.res

*.iobj

*.ipdb

Tools/TextureViewer/Release/

*.FileListAbsolute.txt
*.cpp.o
*.cpp.o.d
*.a
*.d
