
*.log

*.tlog

*.obj

Contrib/CxImage/CxImage/x64/Debug/cximage\.lib

Contrib/CxImage/CxImage/x64/Debug/cximage\.pdb

*.idb

*.lib

*.pdb

Tools/UnitTests/TestData/WrittenChunk\.bin

*.ilk

Tools/UnitTests/TestData/WrittenScript\.txt

Tools/UnitTests/TestData/WrittenTestDXT1\.tac

*.exe

Tools/UnitTests/TestData/WrittenWiredDrives\.tga

Tools/UnitTests/TestData/WrittenXeyes\.tga

Tools/UnitTests/\.vs/UnitTests/v15/\.suo

*.db

*.db-shm

*.db-wal

*.exp

Contrib/NvidiaTextureTools/project/vs/nvtt/x64/Debug/nvtt\.res

*.ipch

*.opendb
