<use f='Modules/Pipeline/Inc/Pipeline/tRule.h' l='27' u='w' c='_ZN9tPipeline5tRuleC1Ev'/>
<use f='Modules/Pipeline/Inc/Pipeline/tRule.h' l='46' u='w' c='_ZN9tPipeline5tRule9SetConfigENS0_7tConfigE'/>
<dec f='Modules/Pipeline/Inc/Pipeline/tRule.h' l='91' type='tPipeline::tRule::tConfig'/>
<offset>800</offset>
